/*
Fork this Pen and when you are done send me the link.

Create a responsive design that will work desktop and mobile devices of various sizes. (optional) The only HTML that you may edit would be the nav menu if you wanted to add a show/hide behavior with a button.

The desktop version should look something like this: https://site-files-new.s3.amazonaws.com/mobile-test.png

On a mobile device how would you display the nav menu?

**************************
For bonus points, on mobile hide the navigation until a trigger is clicked on to open & close it. 
***
*/


* {
	box-sizing: border-box;
  }
  
  html {
	font: 1.2em/1.4 Arial, Helvetica, sans-serif;
  }
  
  body {
	padding: 0 0 1em;
  }
  
  header {
	background-color: #333;
	color: #fff;
	border: 5px solid #000;
  }
  
  header ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  header a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0.5em 1em;
	border-top: 1px solid #999;
  }
  
  header .title {
	font-size: 150%;
	font-style: italic;
	font-weight: bold;
	padding: 1em;
  }
  
  main {
	padding: 0 1em;
  }
  
  .cards {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .cards li {
	border: 5px solid #000;
	margin-bottom: 1em;
  }
  
  .cards h2 {
	background-color: #333;
	color: #fff;
	margin: 0;
	padding: 0.5em 1em;
  }
  
  .cards .inner {
	padding: 0.5em 1em;
  }
  
  .sidebar {
	background-color: #333;
	border: 5px solid #000;
	padding: 0.5em 1em;
	color: #fff;
  }

/* ADDITIONAL */
.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.btn {
	width: 50px;
	height: 30px;
	border: 0;
}

  /* MOBILE TABLET */
@media screen and (max-width: 991px) {
	.col-md {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.pad-r-0-xs {
		padding-right: 0;
	}

	.sidebar {
		width: 100%;
	}

	.d-sm-none {
		display: none;
	}

	.top-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.top-nav div {
		padding: 10px;
	}

	.flex-xs-column {
		flex-direction: column;
	}
}

  /* SMALL SCREEN UP TO LARGE SCREEN */
@media screen and (min-width: 992px) {
	.d-md-none {
		display: none;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header ul {
		display: flex;
	}

	header ul li a {
		border-top: 0;
	}

	.pad-v-15-md {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.pad-r-15-md {
		padding-right: 15px;
	}
	
	ul.cards > li {
		width: 280px;
		margin-right: 10px;
	}
	.col-md {
		flex: 0 0 73%;
		max-width: 72.33%;
	}
}
/* END ADDITIONAL */